:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-gray: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-light-gray);

  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;

  
}

main {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 320px;
  height: 497px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 16px;

  background-color: var(--color-white);

  border-radius: 20px;

  text-align: center;

  /* Used https://www.cssmatic.com/box-shadow to convert drop shadow from Figma to CSS*/

  -webkit-box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.0477), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.0477), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.0477), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.container h1 {
  font-size: 22px;
  font-weight: 700;
  color: var(--color-dark-blue);

  margin: 0;
  margin-top: 8px;
}

.container p {
  font-size: 15px;
  font-weight: 400;
  color: var(--color-gray);

  margin: 0 16px 0;
}

.attribution {
  font-size: 11px;
  text-align: center;

  position: absolute;
  bottom: 5px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}